.product {
  width: 300px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.04);
  transition: all 0.2s ease-in-out;
}
.product > img {
  height: 180px;
  border-radius: 10px;
}

.product__info > p {
  margin-bottom: 8px;
}

.info_price {
  font-weight: bold;
}

.info__name {
  margin-top: 5px;
  font-size: 1rem;
  overflow: hidden;
  font-weight: bold;
}

.info__description {
  font-size: 0.8rem;
}

.info__button {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background: #f4f4f4;
  color: #171717;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #058171;
  height: 34px;
}
.info__button:hover {
  color: #058171;
  background: #171717;
  transition: all 0.3s ease-in-out;
  height: 34px;
}

@media (max-width: 1300px) {
  .product {
    width: 380px;
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 1140px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1060px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 300px;
  }
}

@media (max-width: 960px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 400px;
  }
}

@media (max-width: 840px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 360px;
  }
}

@media (max-width: 765px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 330px;
  }
}
@media (max-width: 700px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 300px;
  }
}

@media (max-width: 640px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 290px;
  }
}
@media (max-width: 620px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 450px;
  }
}

@media (max-width: 520px) {
  .product {
    transition: all 0.5s ease-in-out;
    width: 400px;
  }
}
