.sidedrawer {
  width: 70%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show {
  transform: translateX(0);
}

.sidedrawer__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.sidedrawer__links > li {
  display: flex;
  align-items: center;
}

.sidedrawer__links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 1rem;
  text-decoration: none;
  color: #171717;
  font-size: 1.6rem;
}

.sidedrawer__links > li:hover > a {
  background-color: #171717;
  color: #058171;
  transition: all 0.3s ease-in-out;
}

.sidedrawer__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.sidedrawer_cartbadge {
  width: 30px;
  height: 30px;
  background: #171717;
  border-radius: 50%;
  margin-left: 8px;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
.sidedrawer__links > li:hover > a > span > span {
  background-color: #058171;
  color: #171717;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 960px) {
  .sidedrawer{
    display: none;
  }
}
