.homescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homescreen > h2 {
  margin: 3rem auto 2rem auto;
}

.homescreen__body {
  display: flex;
  flex-direction: column;
}
.homescreen__products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1650px) {
  .homescreen__products {
    grid-template-columns: repeat(4, auto);
  }
}
@media (max-width: 1300px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 960px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 620px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}
